/* 各种尺寸 */

$page-content-width: 1100px;

$font-size-normal: 14px;
$font-size-big: 16px;
$font-size-small: 12px;
$font-size-13: 13px;
$font-size-20: 20px;

/* 各种颜色 */

$black: #000;
$white: #fff;

// Gray

$color_303133: #303133;
$color_333: #333;
$color_515151: #515151;
$color_606266: #606266;
$color_666: #666;
$color_676767: #676767;
$color_6E6E6E: #6E6E6E;
$color_777: #777;
$color_8d8d8d: #8d8d8d;
$color_999: #999;
$color_9B9B9B: #9B9B9B;
$color_CFCFCF: #CFCFCF;
$color_d1d1d1: #d1d1d1;
$color_d6d6d6: #d6d6d6;
$color_d8d8d8: #d8d8d8;
$color_E6E6E6: #E6E6E6;
$color_e8e6e6: #e8e6e6;
$color_EEE: #EEE;
$color_E2ECFF: #E2ECFF;
$color_e9f8ff: #e9f8ff;

// Red


$color_EC7272: #EC7272;
$color_E66B6B: #E66B6B;

// Orange

$orange: #EE8300;
$color_D97300: #D97300;
$color_EB8F43: #EB8F43;
$color_E77E04: #E77E04;
$color_FA8C16: #FA8C16;
$color_FF7D00: #FF7D00;
$color_FFB000: #FFB000;

// Green

$color_4EC189: #4EC189;

// Blue

$blue: #477de9;
$color_1581E6: #1581E6;
$color_C8D7F5: #C8D7F5;
$color_9FBFFF: #9FBFFF;
$color_409EFF: #409EFF;
